/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 /* KAKA LITTER CSS */

/** FONTS **/
@font-face {
  font-family: 'SignPainter';
  src: font-url('SignPainter.ttf') format('truetype');
}


/** GLOBAL **/
body {
  background-color: #FFF;
  color: $blue;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0px
}

nav {
  background-color: #FFF;
  padding: 10px 0px;
  text-align: center;
  top: 0px;
  width: 100%
}

h1 {
  color: $red;
  font-family: "SignPainter";
  font-size: 40px;
  margin: 25px 0px 20px 0px;
  text-align: center
}

h2,
.total-price {
  color: $blue;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 25px;
  margin: 10px 0px
}

a,
a:hover,
a:active,
a:visited {
  color: $blue
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", sans-serif;
  margin: auto;
  max-width: 500px;
  padding: 0px 20px 20px
}

ul {
  list-style-image: asset-url('paw-list.svg');
  list-style-position: bottom;
  margin: 0px;
  padding: 0px 0px 0px 30px
}

ul.paragraph {
  font-weight: bold;
  margin-top: 10px;
  padding-left: 40px
}

li {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue", "Helvetica", sans-serif
}

img.center {
    display: block;
    margin: 20px auto
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-inputs,
.form-actions {
  margin: auto;
  max-width: 500px;
  padding: 0px 20px;
}

label {
  color: $blue;
  display: block;
  font-weight: bold;
  margin: 10px 0px 5px;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0pt;
  background-color: #FFF;
  border: 1px solid $blue;
  border-radius: 10px;
  box-sizing: border-box;
  color: $red;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  padding: 0px 20px;
  width: 100%;
}

textarea {
  resize: none;
  height: 180px;
  padding: 20px
}

input[type="submit"] {
  background-color: $red;
  border-color: $red;
  color: #FFF;
  font-family: "SignPainter";
  font-size: 30px;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
}

input[type="checkbox"] {
  height: auto;
  width: auto
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}

button {
  background-color: $red;
  border: 1px solid $red;
  box-sizing: border-box;
  color: #FFF;
  height: 40px;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  width: 50px;
}

.button-left {
  border-radius: 10px 0px 0px 10px;
}

.button-right {
  border-radius: 0px 10px 10px 0px;
}

.order-button {
  border-radius: 10px;
  font-family: "SignPainter";
  font-size: 30px;
  height: 50px;
  padding: 10px;
  width: 200px;
}

.order-button-div {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.qty-selector input {
  border-color: $red;
  border-radius: 0px;
  height: 40px;
  padding: 0px;
  text-align: center;
  width: 50px;
}

footer {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%
}

footer > p {
  color: $red;
  font-family: "HelveticaNeue-Thin", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 20px;
  padding: 10px 20px;
}

/** PRODUCT DIVS **/

.product {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
}

.products-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto
}

.product-element {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  max-width: 500px
}

.product-image {
  width: 110px;
}

.product-specs {
  padding-left: 15px
}

.qty-selector {
  display: flex;
  justify-content: center;
}

/** LIST DIV **/

.list-div {
  margin: auto;
  max-width: 500px;
}

.center {
  text-align: center
}

div.alert > button {
  background: none;
  border: 0px;
}

.form-actions {
  margin-top: 0px;
  margin-bottom: 50px
}

@media screen and (min-width: 550px) {
  .form-inputs {
    min-width: 500px
  }
}