<nav>
  <div>
    <%= link_to root_path do %>
      <%= image_tag("kaka_logotype.png", class: 'logotype') %>
    <% end %>
  </div>
    <% if current_user %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="nav-link">Log Out</div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <div class="nav-link">Log In</div>
      <% end %>
    <% end %>
</nav>