<div style="padding: 10px">
  <h1>Have fun there nigga!</h1>
  <p>
    Pour changer les basics (fonts, base-size), il faut aller dans <span style="font-weight: bold">app/assets/stylesheets/config/_variables.scss</span>
  </p>
  <p>
    Essaye d'explorer un peu l'archi du dossier <span style="font-weight: bold">app/assets/stylesheets</span><br>
    Des choses intéressantes, surtout en terme de mindset orienté components.
  </p>
</div>
