<h1>Congrats!</h1>
<%= image_tag('kaka_kat.png', width: 300, class: 'center') %>
<p class="center">Your order is well recorded. Corinne will contact you very quickly for payment and delivery terms. 
You are now member of the KAKA Krazy Kat Litter community.
In a few moments, you will receive a confirmation email.</p>
<p>KAKA - KRAZY KAT LITTER’s team.</p>
<div class="order-button-div">
  <%= link_to 'pages/shop' do %>
    <button class="order-button">Back to the Shop</button>
  <% end %>
</div>