<h1>List of products</h2>
<table class="products-container">
  <% @products.each_with_index do |product, index| %>
    <tr class="product-list-element">
      <td><%= product.designation %></td>
      <td class="price">$<%= product.unit_price %></td>
      <td><%= link_to edit_product_path(product) do %>Edit product<% end %></td>
    </tr>
  <% end %>
</table>